include LICENSE
include NOTICE
include README.md

recursive-include core *.py
include tools/patch_core.py

recursive-include src/benchpark_container/resources *

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
