include LICENSE NOTICE README.md CHANGELOG.md
recursive-include core *.py
recursive-include tools *.py
recursive-include docs *.md *.json
recursive-include examples *.py *.yaml *.json *.txt *.md *.sh
recursive-include tests *.py *.yaml *.json *.txt *.md *.zip *.sh *.tpl
recursive-include src/benchpark_container/resources *
global-exclude __pycache__ *.py[cod]
recursive-include results *.md *.json *.log *.patch *.txt
